article,aside,audio,bdi,canvas,command,datalist,details,figcaption,figure,footer,header,hgroup,keygen,mark,meter,nav,output,progress,rp,rt,ruby,section,source,summary,time,track,video,title {display:block}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,figure {padding:0;margin:0;}
fieldset,img{border:0;}
:focus {outline:0;}
address,caption,cite,code,dfn,em,th,var,optgroup {font-style:normal;font-weight:normal;}
h1,h2,h3,h4,h5,h6 {font-size:100%;}
abbr,acronym {border:0;font-variant:normal;}
input,button,textarea,select,optgroup,option {font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
code,kbd,samp,tt {font-size:100%;}
input,button,textarea,select {*font-size:100%;}
body {line-height:1.5;}
ol,ul,li {list-style:none;}
table {border-collapse:collapse;border-spacing:0;}
caption,th {text-align:left;}
sup,sub {font-size:100%;vertical-align:baseline;}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:'';content:none;}
.clear:after{clear: both;content:'.';display: block;visibility:hidden;height:0;}
.clear{zoom:1; clear: both;}
.hide {display:none;}

section,div,img,a{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-tap-highlight-color:transparent;
}
input{-webkit-appearance:none;}


html,body{position:absolute;width:100%;height:100%;background:#000;}
.page.previous{-webkit-transform:translateX(-100%); -webkit-transition: -webkit-transform 0.5s ease-out;}
.page.current{-webkit-transform:translateX(0); -webkit-transition: -webkit-transform 0.5s ease-out;}
.page.next{-webkit-transform:translateX(100%); -webkit-transition: -webkit-transform 0.5s ease-out;}
.wrapper{position:absolute; width:100%; height: 100%;margin: 0 auto; overflow: hidden; left: 0;top:0; margin: 0;background: #939e9f;}
.page{overflow:hidden;position:absolute;width:100%;height:100%;overflow: hidden;top: 0;left: 0;}
.fixed-height{width: 100%; height: 100%;overflow: hidden; position: absolute; left: 0; top: 0;}
.page img{width: 100%;vertical-align: middle}
.page>div{
    width: 100%;
    height: 100%;
}

@-webkit-keyframes tutorial_hide_anim{
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@keyframes tutorial_hide_anim{
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@-webkit-keyframes tutorial_finger_anim{
    0%{
        -webkit-transform: translateY( 0px ) translateZ( 0 );
    }
    100%{
        -webkit-transform: translateY( 50px ) translateZ( 0 );
    }
}

@keyframes tutorial_finger_anim{
    0%{
        transform: translateY( 0px ) translateZ( 0 );
    }
    100%{
        transform: translateY( 50px ) translateZ( 0 );
    }
}

.music_icon{
    width: 21px;
    height: 21px;
    background-image: url(imgs/musicIcon.png);
    background-size: 200% 100%;
    position: absolute;
    left: 5px;
    bottom: 5px;
    z-index: 20;
}

.music_icon.play{
    background-position-x: -21px;
}

.music_icon.pause{
    background-position-x: 0px;
}

.tutorial_cover{
    position: absolute;
    top: 50%;
    left: 50%;

    z-index: 20;
    display: none;

    opacity: 0;
}

.page > .tutorial_cover{
    width: 52px;
    height: 86px;
    margin-top: -43px;
    margin-left: -26px;
    -webkit-animation: tutorial_hide_anim 4.2s ease-out;
    animation: tutorial_hide_anim 4.2s ease-out;
}

.tutorial_cover .phone{
    width: 100%;
    height: 100%;
}

.tutorial_cover .finger{
    width: 76px;
    height: 77px;
    position: absolute;
    top: 50px;
    left: 50%;

    -webkit-animation: tutorial_finger_anim 1s linear infinite;
    animation: tutorial_finger_anim 1s linear infinite;
}

.tutorial_cover img{
    width: 100%;
}

.orientation_cover_container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: none;

    background-color: #000;
    z-index: 100;
}

.orientation_cover_container .orientation_cover{
    height: 62px;
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -31px;
    margin-left: -140px;
}

.orientation_cover_container .orientation_cover img{
    width: 100%;
}

/* loading */
.loading_wrapper{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.loading{
    position: absolute;
    left: 50%;
    top:50%;
    width: 160px;
    margin: -50px 0 0 -80px;
}
.loading p { color: #fff; font: 12px/20px ''; text-align: center;}
.load-line{
    width: 160px;
    height: 10px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
}

.loading_icon_container{
    width: 54px;
    height: 54px;
    margin: 0 auto;
    position: relative;
}

.loading_icon_container .loading_icon_0{
    width: 23px;
    height: 23px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
    -webkit-animation: loading_icon_0_anim 0.4s linear infinite;
    animation: loading_icon_0_anim 0.4s linear infinite;
}

.loading_icon_container .loading_icon_1{
    width: 54px;
    height: 54px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -27px;
    margin-top: -27px;

    -webkit-animation: loading_icon_1_anim 5s linear infinite;
    animation: loading_icon_1_anim 5s linear infinite;
}

@-webkit-keyframes loading_icon_1_anim{
    0%{
        -webkit-transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
    }
}

@keyframes loading_icon_1_anim{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loading_icon_0_anim{
    0%{
        -webkit-transform: scale(1);
    }
    50%{
        -webkit-transform: scale(1.1);
    }
    100%{
        -webkit-transform: scale(1);
    }
}

@keyframes loading_icon_0_anim{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

.loading_icon_container img{
    width: 100%;
}

.loading_percent{
    width: 16px;
    height: 21px;
    display:inline-block;
    overflow:hidden;
    background-repeat: no-repeat;
    background-image:url(imgs/loading_percent.png);
    background-size: 16px 21px;
    position: relative;
    top: -4px;
}

.loading_numbers {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(imgs/loading_numbers.png);background-size: 232px 28px;}

.loading_numbers.loading_0 {width:21px; height:24px; background-position: -2px -2px}
.loading_numbers.loading_1 {width:21px; height:24px; background-position: -25px -2px}
.loading_numbers.loading_2 {width:21px; height:24px; background-position: -48px -2px}
.loading_numbers.loading_3 {width:21px; height:24px; background-position: -71px -2px}
.loading_numbers.loading_4 {width:21px; height:24px; background-position: -94px -2px}
.loading_numbers.loading_5 {width:21px; height:24px; background-position: -117px -2px}
.loading_numbers.loading_6 {width:21px; height:24px; background-position: -140px -2px}
.loading_numbers.loading_7 {width:21px; height:24px; background-position: -163px -2px}
.loading_numbers.loading_8 {width:21px; height:24px; background-position: -186px -2px}
.loading_numbers.loading_9 {width:21px; height:24px; background-position: -209px -2px}

.templates{
    display: none;
}

/******************** index page ****************/
.index_template{
    width: 100%;
    height: 100%;
    background-image: url( imgs/bg.jpg );
    background-size: 100% 100%;
    background-color:#939e9f;    
    background-repeat: repeat;
}

.index_template .index_title{
    position: absolute;
      top: 5%;
      left: 50%;
      margin-left: -180px;
    z-index: 2;
}

.index_template .index_title_img{
    width: 344px;
    height: 145px;
    margin-left: 20px;
}

.index_template .index_title_btn{
    margin-left: 175px;
    width: 143px;
    height: 62px;

    -webkit-animation: index_btn_anim 2s linear infinite;
    animation: index_btn_anim 2s linear infinite;
}

.index_template .index_imgs{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.index_template .index_img_bl{
    position: absolute;
    left: 0;
    bottom: 0;

    width: 176px;
  z-index: 2;

    -webkit-animation: index_img_bl 0.5s ease-out;
    animation: index_img_bl 0.5s ease-out;
}
.index_template .index_img_bl2{
    position: absolute;
left: 38px;
  bottom: 248px;
  width: 94px;
  z-index: -1;

    -webkit-animation: index_img_bl_1 0.5s ease-out;
    animation: index_img_bl_1 0.5s ease-out;
}
.index_template .index_img_br{
    position: absolute;
      left: 85px;
      bottom: 0;
      width: 290px;
    -webkit-animation: index_img_br 0.5s ease-out;
    animation: index_img_br 0.5s ease-out;
}


@media(max-height: 480px){

    .index_template .index_img_bl{

        width: 150px;
    }

    .index_template .index_img_bl2{

          left: 44px;
          bottom: 220px;
          width: 70px;
    }

    .index_template .index_img_br{
          bottom: 0px;
          width: 224px;
          left: 96px;
    }

}

.index_template .index_logo{
    position: absolute;
  right: 30px;
  bottom: 10px;
    z-index: 3;
    width: 141px;

    -webkit-transform: translateX(20px) translateZ(0);
    transform: translateX(20px) translateZ(0);

    -webkit-animation: index_logo 0.5s ease-out;
    animation: index_logo 0.5s ease-out;
}

@-webkit-keyframes index_logo{
    0%{
        -webkit-transform: translateX(-100%) translateZ(0);
    }

    100%{
        -webkit-transform: translateX(20px) translateZ(0);
    }
}

@keyframes index_logo{
    0%{
        transform: translateX(-100%) translateZ(0);
    }

    100%{
        transform: translateX(20px) translateZ(0);
    }
}

@-webkit-keyframes index_img_bl{
    0%{
        -webkit-transform: translateX(-100%) translateZ(0);
    }
    100%{
        -webkit-transform: translateX(0%) translateZ(0);
    }
}

@keyframes index_img_bl{
    0%{
        transform: translateX(-100%) translateZ(0);
    }
    100%{
        transform: translateX(0%) translateZ(0);
    }
}

@-webkit-keyframes index_img_bl_1{
    0%{
        -webkit-transform: translateX(-180%) translateZ(0);
    }
    100%{
        -webkit-transform: translateX(0%) translateZ(0);
    }
}

@keyframes index_img_bl_1{
    0%{
        transform: translateX(-180%) translateZ(0);
    }
    100%{
        transform: translateX(0%) translateZ(0);
    }
}

@-webkit-keyframes index_img_br{
    0%{
        -webkit-transform: translateX(100%) translateZ(0);
    }
    100%{
        -webkit-transform: translateX(0%) translateZ(0);
    }
}

@keyframes index_img_br{
    0%{
        transform: translateX(100%) translateZ(0);
    }
    100%{
        transform: translateX(0%) translateZ(0);
    }
}

@-webkit-keyframes index_btn_anim{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes index_btn_anim{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/******************* index page end *******************/
.common_title{
	position: absolute;
	z-index: 2;
	left: 0;
    width: 100%;
}

.common_title_bg1{
	width: 67.8125%;
	margin: 0 15.09375% 0 17.09375%;
}

.common_title_bg2{
	width: 69.840%;
	margin: 0 13.08% 0 17.08%;
}

.common_title_value{
	position: absolute;
	width: 100px;
	height: 100%;
	left: 57.737327%;
	font-size: 22px;
	color: red;
	top: 28%;
	line-height: 1em;
}

.common_title_value.pos2{
	left: 58.428571%;
    top: 25%;
}

@media(min-height: 540px){
    .common_title{
        top: 5%;
    }

    .common_title_value{
        font-size: 30px;
    }
}

/******************* game tempalte css ****************/
.game_bg{
    width: 100%;
    height: 100%;
}

.game_bg img{
    min-width: 100%;
    min-height: 100%;
}

.game_main_container{
	width: 100%;
	height: 480px;
	position: absolute;
	bottom: 0;
}

.game_cover,
.game_body,
.game_texts,
.game_bubbles{
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: 0;
}

.game_bubbles{
	height: 100%;
	z-index: 1;
}

.game_texts{
    z-index: 4;
}

.game_cover{
    z-index: 3;
}

.game_body_status1,
.game_body_status2,
.game_body_status3{
    position: absolute;
    top: 0px;
    left: 50%;
}

.game_body.status1 .game_body_status2,
.game_body.status1 .game_body_status3,
.game_body.status2 .game_body_status2,
.game_body.status2 .game_body_status3,
.game_body.status3 .game_body_status2,
.game_body.status3 .game_body_status3{
    display: none;
}

.game_body.status1 .game_body_status1,
.game_body.status2 .game_body_status1,
.game_body.status3 .game_body_status1{
    display: block;
}

.game_body.status4 .game_body_status1,
.game_body.status4 .game_body_status3{
    display: none;
}

.game_body.status4 .game_body_status2{
    display: block;
}

.game_body.status5 .game_body_status1,
.game_body.status5 .game_body_status2
{
    display: none;
}

.game_body.status5 .game_body_status3{
    display: block;
}

.game_texts.status1 .game_text2,
.game_texts.status1 .game_text3,
.game_texts.status2 .game_text2,
.game_texts.status2 .game_text3,
.game_texts.status3 .game_text2,
.game_texts.status3 .game_text3{
    display: none;
}

.game_texts.status1 .game_text1,
.game_texts.status2 .game_text1,
.game_texts.status3 .game_text1{
    display: block;
}

.game_texts.status4 .game_text1,
.game_texts.status4 .game_text3{
    display: none;
}

.game_texts.status4 .game_text2{
    display: block;
}

.game_texts.status5 .game_text2,
.game_texts.status5 .game_text1{
    display: none;
}

.game_texts.status5 .game_text3{
    display: block;
}

.game_bubbles .game_bubble{
	position: absolute;
	bottom: 0;
}

.game_bubbles .game_bubble_style1{
	width: 128px;
	height: 128px;
}

.game_bubbles .game_bubble_style2{
	width: 64px;
	height: 64px;
}

.game_bubbles .game_bubble_style3{
	width: 32px;
	height: 32px;
}

.game_bubbles .game_bubble.left1{
	left: -2%;
}

.game_bubbles .game_bubble.left2{
	left: 10%;
}

.game_bubbles .game_bubble.left3{
	left: 40%;
}

.game_bubbles .game_bubble.left4{
	left: 75%;
}

.game_bubbles .game_bubble.left5{
	left: 90%;
}

.game_red_bag_wrapper{
	position: absolute;
	z-index: 2;
	width: 74px;
	height: 79px;
    display: none;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    -webkit-transition: -webkit-transform 0.5s linear, opacity 0.7s linear;
    transition: transform 0.5s linear, opacity 0.7s linear;
}

.game_red_bag_animation{
    -webkit-animation: game_red_bag_anim 0.3s linear 3;
    animation: game_red_bag_anim 0.3s linear 3;
}

.game_red_bag_wrapper .game_red_bag_img {
	width: 100%;
	height: 100%;
}

.game_red_bag_wrapper .game_red_bag_number{
	position: absolute;
	top: -16px;
	left: 10px;
	font-size: 16px;
	color: #000;
	width: 100%;
	opacity: 0;
    display: none;

	-webkit-transform: translateY( -40px ) translateZ(0);
	-webkit-animation: game_red_bag_number_anim 2.5s ease-out;
	-o-animation: game_red_bag_number_anim 2.5s ease-out;
	animation: game_red_bag_number_anim 2.5s ease-out;
}

@-webkit-keyframes game_red_bag_anim{
    0%{
        -webkit-transform-origin: 40% 33%;
        -webkit-transform: rotate( 0deg );
    }
    25%{
        -webkit-transform-origin: 40% 33%;
        -webkit-transform: rotate( 15deg );
    }
    75%{
        -webkit-transform-origin: 40% 33%;
        -webkit-transform: rotate( -15deg );
    }
    100%{
        -webkit-transform-origin: 40% 33%;
        -webkit-transform: rotate( 0deg );
    }
}

@keyframes game_red_bag_anim{
    0%{
        transform: translateX( 0px ) translateZ(0);
    }
    25%{
        transform: translateX( 6px ) translateZ(0);
    }
    75%{
        transform: translateX( -6px ) translateZ(0);
    }
    100%{
        transform: translateX( 0px ) translateZ(0);
    }
}

@-webkit-keyframes game_red_bag_number_anim{
	0%{
		opacity: 0;
		-webkit-transform: translateY( 0px ) translateZ(0);
	}
	70%{
		opacity: 1;
		-webkit-transform: translateY( -40px ) translateZ(0);
	}
	100%{
		opacity: 0;	
		-webkit-transform: translateY( -40px ) translateZ(0);
	}
}

@keyframes game_red_bag_number_anim{
	0%{
		opacity: 0;
		transform: translateY( 0px ) translateZ(0);
	}
	70%{
		opacity: 1;
		transform: translateY( -40px ) translateZ(0);
	}
	100%{
		opacity: 0;	
		transform: translateY( -40px ) translateZ(0);
	}
}

@-webkit-keyframes bubble_anim{
	0%{
		-webkit-transform: translateY( 0px ) translateZ( 0 );
	}
	100%{
		-webkit-transform: translateY( -4000px ) translateZ( 0 );
	}
}

@keyframes bubble_anim{
	0%{
		transform: translateY( 0px ) translateZ( 0 );
	}
	100%{
		transform: translateY( -4000px ) translateZ( 0 );
	}
}

/********************* cover style 1 ***************/
.game_cover .game_cover1{
    width: 100%;
    position: absolute;
}


.game_cover .game_cover1 > div{
    min-width: 320px;
    width: 100%;
    height: 330px;
    bottom: 0px;

    position: absolute;
    left: 0;
}

.game_cover.status2 .game_cover1{
    -webkit-transform: translateY( 2px ) translateZ(0);
    transform: translateY( 2px ) translateZ(0);

    -webkit-animation: cover2_status2_anim 0.1s linear;
    animation: cover2_status2_anim 0.1s linear;
}

.game_cover.status3 .game_cover1{
    -webkit-transform: translateY( 8px ) translateZ(0);
    transform: translateY( 8px ) translateZ(0);

    -webkit-animation: cover2_status3_anim 0.1s linear;
    animation: cover2_status3_anim 0.1s linear;
}

.game_cover.status4 .game_cover1,
.game_cover.status5 .game_cover1{
    -webkit-transform: translateY( 20px ) translateZ(0);
    transform: translateY( 20px ) translateZ(0);
}

.game_cover.status5 .game_cover1_7,
.game_cover.status5 .game_cover1_6{
    display: none;
}

.game_cover.status4 .game_cover1_7,
.game_cover.status5 .game_cover1_5,
.game_cover.status5 .game_cover1_3{
    -webkit-transform: translateX(-100%) translateY(60px) translateZ(0);
    -webkit-animation: game_cover_left_anim 0.5s ease-out;
    animation: game_cover_left_anim 0.5s ease-out;
}

.game_cover.status4 .game_cover1_6,
.game_cover.status5 .game_cover1_4,
.game_cover.status5 .game_cover1_2{
    -webkit-transform: translateX(100%) translateY(60px) translateZ(0);
    -webkit-animation: game_cover_right_anim 0.5s ease-out;
    animation: game_cover_right_anim 0.5s ease-out;
}

@-webkit-keyframes game_cover_left_anim{
    0%{
        -webkit-transform: translateX(0) translateY(0) translateZ(0);
    }
    100%{
        -webkit-transform: translateX(-100%) translateY(120px) translateZ(0);
    }
}

@-webkit-keyframes game_cover_right_anim{
    0%{
        -webkit-transform: translateX(0) translateY(0) translateZ(0);
    }
    100%{
        -webkit-transform: translateX(100%) translateY(120px) translateZ(0);
    }
}

@media(max-height: 470px){
    .game_cover .game_cover1 > div{
        height: 285px;
    }
}

@media(min-height: 600px){
    .game_cover .game_cover1 > div{
        height: 384px;
    }
}
/********************* cover style 1 end ***************/

/********************* cover style 2 ***************/
.game_cover .game_cover2{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 330px;
}

.game_cover.status2 .game_cover2{
	-webkit-transform: translateY( 2px ) translateZ(0);
    transform: translateY( 2px ) translateZ(0);

    -webkit-animation: cover2_status2_anim 0.1s linear;
    animation: cover2_status2_anim 0.1s linear;
}

.game_cover.status3 .game_cover2{
	-webkit-transform: translateY( 8px ) translateZ(0);
    transform: translateY( 8px ) translateZ(0);

    -webkit-animation: cover2_status3_anim 0.1s linear;
    animation: cover2_status3_anim 0.1s linear;
}

.game_cover.status4 .game_cover2{
	-webkit-transform: translateY( 79px ) translateZ(0);
    transform: translateY( 79px ) translateZ(0);

    -webkit-animation: cover2_status4_anim 0.14s ease-in;
    animation: cover2_status4_anim 0.14s ease-in;
}

.game_cover.status5 .game_cover2{
    -webkit-transition: -webkit-transform 0.1s ease-in;
    transition: transform 0.1s ease-in;
	-webkit-transform: translateY( 290px ) translateZ(0);
    transform: translateY( 290px ) translateZ(0);
}

.game_cover.status5 .game_cover2.high{
    -webkit-transition: -webkit-transform 0.1s ease-in;
    transition: transform 0.1s ease-in;
	-webkit-transform: translateY( 233px ) translateZ(0);
    transform: translateY( 233px ) translateZ(0);
}

@-webkit-keyframes cover2_status2_anim{
    0%{
        -webkit-transform: translateY(0) translateZ(0);
    }
    95%{
        -webkit-transform: translateY(14px) translateZ(0);
    }
    100%{
        -webkit-transform: translateY(2px) translateZ(0);
    }
}

@-webkit-keyframes cover2_status3_anim{
    0%{
        -webkit-transform: translateY(2px) translateZ(0);
    }
    95%{
        -webkit-transform: translateY(20px) translateZ(0);
    }
    100%{
        -webkit-transform: translateY(11px) translateZ(0);
    }
}

@-webkit-keyframes cover2_status4_anim{
    0%{
        -webkit-transform: translateY(8px) translateZ(0);
    }
    60%{
        -webkit-transform: translateY(100px) translateZ(0);
    }
    100%{
        -webkit-transform: translateY(79px) translateZ(0);
    }
}

@media(max-height: 470px){
    .game_cover .game_cover2{
        height: 280px;
    }

    .game_cover.status5 .game_cover2{
        -webkit-transform: translateY( 230px ) translateZ(0);
        transform: translateY( 230px ) translateZ(0);
    }

    .game_cover.status5 .game_cover2.high{
        -webkit-transform: translateY( 200px ) translateZ(0);
        transform: translateY( 200px ) translateZ(0);
    }
}

@media(min-height: 600px){
    .game_cover .game_cover2{
        height: 365px;
    }

    .game_cover.status2 .game_cover2{
        -webkit-transform: translateY( 4px ) translateZ(0);
        transform: translateY( 4px ) translateZ(0);

        -webkit-animation: cover2_status2_anim 0.1s linear;
        animation: cover2_status2_anim 0.1s linear;
    }

    .game_cover.status3 .game_cover2{
        -webkit-transform: translateY( 14px ) translateZ(0);
        transform: translateY( 14px ) translateZ(0);
    }

    .game_cover.status5 .game_cover2{
        -webkit-transform: translateY( 330px ) translateZ(0);
        transform: translateY( 330px ) translateZ(0);
    }

    .game_cover.status5 .game_cover2.high{
        -webkit-transform: translateY( 270px ) translateZ(0);
        transform: translateY( 270px ) translateZ(0);
    }

    @-webkit-keyframes cover2_status2_anim{
        0%{
            -webkit-transform: translateY(0) translateZ(0);
        }
        95%{
            -webkit-transform: translateY(18px) translateZ(0);
        }
        100%{
            -webkit-transform: translateY(4px) translateZ(0);
        }
    }

    @-webkit-keyframes cover2_status3_anim{
        0%{
            -webkit-transform: translateY(4px) translateZ(0);
        }
        95%{
            -webkit-transform: translateY(24px) translateZ(0);
        }
        100%{
            -webkit-transform: translateY(14px) translateZ(0);
        }
    }

    @-webkit-keyframes cover2_status4_anim{
        0%{
            -webkit-transform: translateY(14px) translateZ(0);
        }
        60%{
            -webkit-transform: translateY(100px) translateZ(0);
        }
        100%{
            -webkit-transform: translateY(79px) translateZ(0);
        }
    }
}
/********************* cover style 2 end ***************/

/************************ common end page ***********************/
.end_title_numbers .end_title_number_wrapper{
    width: 25px;
    height: 44px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    position: relative;
}
.end_title_numbers .end_number{
    width: 25px;
    height: 44px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(imgs/end_numbers.png);
    background-size: 304px 37px;
    display: none;
    position: absolute;
    top: 0;
    left: 0px;
}

.end_title_numbers .end_number_effect{
    width: 304px;
    height: 44px;
    background-repeat: no-repeat;
    background-image: url(imgs/end_numbers2.png);
    background-size: 304px 44px;
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
}

.end_title_numbers .end_number.end_number_0{
    background-position: 2px 3px;
}

.end_title_numbers .end_number.end_number_1{
    width: 24px;
    background-position: -30px 3px;
}

.end_title_numbers .end_number.end_number_2{
    background-position: -57px 3px;
}

.end_title_numbers .end_number.end_number_3{
    background-position: -87px 3px;
}

.end_title_numbers .end_number.end_number_4{
    width: 28px;
    background-position: -121px 3px;
}

.end_title_numbers .end_number.end_number_5{
    background-position: -153px 3px;
}

.end_title_numbers .end_number.end_number_6{
    background-position: -186px 3px;
}

.end_title_numbers .end_number.end_number_7{
    background-position: -215px 3px;
}

.end_title_numbers .end_number.end_number_8{
    background-position: -248px 3px;
}

.end_title_numbers .end_number.end_number_9{
    background-position: -274px 3px;
}

.end_template{
    width: 100%;
    height: 100%;
    background-image: url(imgs/end_bg.png);
    background-size: 100% 100%;
}

.end_title{
    width: 320px;
    margin: 0 auto;
    padding-top: 10px;
    position: relative;
    padding-bottom: 5px;
}

.end_title .end_title_bg{
    width: 320px;
    height: 61px;
}

.end_title .end_title_numbers{
    position: absolute;
  top: 42px;
  left: 216px;
}

.end_content{
    width: 320px;
    margin: 0 auto;
    height: 82px;
    position: relative;
}

.end_content .content_text{
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 22px;
    color: #ffe505;
}

.end_content2_wrapper{
    width: 276px;
    height: 160px;
    margin: 0 auto;

    background-image: url(imgs/end_share_bg.png);
    background-size: 100% 100%;
    margin-top: 10px;

    position: relative;
    z-index: 2;
}

.end_content2_texts{
    width: 200px;
    height: 55px;
    margin: 0 auto;
    font-size: 13px;
      padding-top: 20px;
}

.end_content2_texts > span{
    display: inline-block;
    vertical-align: middle;
}


.end_content2_follow{

    position:absolute;
      right: 32px;
  bottom: 40px;
  z-index: 20;
  width: 100px;

}
.end_content2_tip{
    width: 143px;
    height: 30px;
    margin: 0 auto;
}


.end_content2_tip{
    -webkit-border-radius: 4px;
    border-radius: 4px;
    line-height: 30px;
    color: #3d3a3a;
    background-color: #f8f4cc;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 4px;
    padding-left: 14px;
}

.end_content2_tip .end_content2_tip_value{
    color: #f00;
}

.end_buttons{
    width: 276px;
    margin: 0 auto;
    text-align: center;
    padding: 14px 0;
    position: relative;
    z-index: 2;
}

.end_buttons > div{
    display: inline-block;
}

.end_buttons .end_buttons_left{
    width: 115px;
    height: 35px;
}

.end_buttons .end_buttons_right{
    width: 151px;
    height: 37px;
}

.end_footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.end_footer .end_footer_bg{
    width: 100%;
}

.end_footer .end_footer_bg img{
    display: block;
}

.end_footer .end_footer_official_link{
    width: 137px;
    height: 19px;
    position: absolute;
    left: 10%;
  bottom: 10px;
}

.share_cover_container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;

    background-color: rgba( 0, 0, 0, 0.7 );
    z-index: 100;
}

.share_cover_container .share_cover{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    height: 138px;
    
    margin-left: -160px;
    margin-top: -69px;
}

.share_cover_container .share_finger{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 67px;
    height: 77px;
}

@media(min-height: 540px){
    .end_content{
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .end_buttons{
        margin-top: 5%;
    }
}
/************************ common end page end *******************/
/************************ end page css for lower score ************/
.end_low_template .end_content .content_text_img{
    width: 90%;
    height: 25px;

    position: absolute;
    top: 50%;
    margin-top: -14px;
      left: 50%;
  margin-left: -45%;

}
/************************ end page css for lower score ************/
/************************ end page css for middle score ************/
.end_middle_template .end_content .content_text_img{
    width: 90%;
    height: 44px;

    position: absolute;
    top: 50%;
    margin-top: -22px;
      left: 50%;
  margin-left: -45%;

}

.end_middle_template .end_content .content_text{
    width: 20px;
    height: 16px;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -23px;
    margin-top: -28px;
    font-size: 22px;
    color: #ffe505;
}
/************************ end page css for middle score ************/
/************************ end page css for high score ************/
.end_high_template .end_content .content_text_img{
    width: 90%;
    height: 89px;

    position: absolute;
    top: 50%;
      left: 50%;
  margin-left: -45%;

}

.end_high_template .end_content .content_text{
    width: 20px;
    height: 16px;

    margin-left: -8px;
    margin-top: -51px;
}
/************************ end page css for high score ************/


/*game tpl*/
.game_template{
    width: 100%;
    height: 100%;
    background-image: url( imgs/bg.jpg );
    background-size: 100% 100%;
    background-repeat: repeat;
    background-color:#939e9f;
}
.download_template{
    width: 100%;
    height: 100%;
    background-image: url( imgs/download.jpg );
    background-size: 100% auto;
    background-position: top;
}
.download_button {
  width: 55%;
  height: 104px;
  left: 50%;
  margin-left: -25%;
  position: absolute;
}

.download_title {
  width: 80%;
  height: 180px;
  left: 50%;
  top: 20px;
  position: absolute;
  margin-left: -40%;
}


.download_button_ios{
    top: 32%;
}

.download_button_and{
    top: 52%;
}

.download_cover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url(imgs/end_cover.jpg);
    background-size: 231px 337px;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}

.hand{
    position:absolute;
    right:0;
    bottom:0;
}

#hand1{

    z-index: 10;
    width: 260px
}
#hand1.catched{
    width: 60%
}
#hand2{

    z-index:5;
    width:170px 
}
#hand2.catched{

    bottom: 40px;
    width: 59%
}

#catchNotice{

    position: absolute;
    display: none;
    z-index: 11
}
/*knife&&animation*/

#knife{

    position:absolute;
      left: -40px;
      top: 0;
      z-index: 8;
      width: 110%;
    -webkit-transform:rotate(-80deg);
    transform:rotate(-80deg);
  transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;    
}

#blood{
    position: absolute;
    bottom: 40%;
    right: 0;
    z-index: 12;
    width: 25%;
    -webkit-mask:-webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 100%) 0 340px no-repeat content;    

}

#blood.animate{

    -webkit-animation:demo-an 0.5s linear 1 ;

     animation-fill-mode: forwards;
     -webkit-animation-fill-mode: forwards;   

}

@-webkit-keyframes demo-an{

    to{ -webkit-mask-position:0 0px; }

}
#score{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 20;
    width: 80px;
}
#score img{
    width: 25px;
    display: inline-block
}

.end_title_number_wrapper{
    width: 80px!important;
}

.end_title_number_wrapper img{
    width: 25px;
    display: inline-block
}
#down{
    position:absolute;
    top:50%;
    left: 50%;
    z-index:13;
    -webkit-transform:translate(-50%,-50%)scale(10);
    transform:translate(-50%,-50%)scale(10);   

}
#guang{
    position:absolute;
    top:20px;
    left:0;
    width: 200px;

}
#number{
    position:absolute;
    top:50%;
    left: 50%;
    z-index:14;
    width: 100px;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);   
}


#count-notice{

    position:absolute;
    top:64%;
    left: 50%;
    z-index:14;
    width: 210px;
  -webkit-transform: translateX(-50%);
}


.boom-animation{
    display: block;
      -webkit-transform:translate(-50%,-50%)scale(10);
    transform:translate(-50%,-50%)scale(10);     
  animation: boomAnimationFrames linear 0.3s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: boomAnimationFrames linear 0.3s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}

@keyframes boomAnimationFrames{
  0% {

  }
  100% {
    -webkit-transform: translate(-50%,-50%)scale(1);
  }
}

@-webkit-keyframes boomAnimationFrames {
  0% {

  }
  100% {
    -webkit-transform: translate(-50%,-50%)scale(1);
  }
}
.knife-animation{
  animation: animationFrames linear 1s;
  animation-iteration-count: 1;
    transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}

.knife-animation1{
  animation: animationFrames linear 1s;
  animation-iteration-count: 1;
  transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}

.knife-animation2{
  animation: animationFrames linear 0.98;
  animation-iteration-count: 1;
  transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.98s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}

.knife-animation3{
  animation: animationFrames linear 0.97s;
  animation-iteration-count: 1;
transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.97s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}

.knife-animation4{
  animation: animationFrames linear 0.96s;
  animation-iteration-count: 1;
transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.96s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}

.knife-animation5{
  animation: animationFrames linear 0.95s;
  animation-iteration-count: 1;
transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.95s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}

.knife-animation6{
  animation: animationFrames linear 0.94s;
  animation-iteration-count: 1;
transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.94s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}

.knife-animation7{
  animation: animationFrames linear 0.93s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.93s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}

.knife-animation8{
  animation: animationFrames linear 0.92s;
  animation-iteration-count: 1;
  transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.92s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}

.knife-animation9{
  animation: animationFrames linear 0.91s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.91s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}


.knife-animation10{
  animation: animationFrames linear 0.9s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.9s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation11{
  animation: animationFrames linear 0.89s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.89s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation12{
  animation: animationFrames linear 0.88s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.88s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation13{
  animation: animationFrames linear 0.87s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.87s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation14{
  animation: animationFrames linear 0.86s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.86s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation15{
  animation: animationFrames linear 0.85s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.85s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation16{
  animation: animationFrames linear 0.84s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.84s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation17{
  animation: animationFrames linear 0.83s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.83s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation18{
  animation: animationFrames linear 0.82s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.82s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation19{
  animation: animationFrames linear 0.81s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.81s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation20{
  animation: animationFrames linear 0.8s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.8s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation21{
  animation: animationFrames linear 0.79s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.79s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation22{
  animation: animationFrames linear 0.78s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.78s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation23{
  animation: animationFrames linear 0.77s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.77s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation24{
  animation: animationFrames linear 0.76s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.76s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation25{
  animation: animationFrames linear 0.75s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.75s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation26{
  animation: animationFrames linear 0.74s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.74s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation27{
  animation: animationFrames linear 0.73s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.73s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation28{
  animation: animationFrames linear 0.72s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.72s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation29{
  animation: animationFrames linear 0.71s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.71s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation30{
  animation: animationFrames linear 0.7s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.7s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation31{
  animation: animationFrames linear 0.69s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.69s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation32{
  animation: animationFrames linear 0.68s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.68s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation33{
  animation: animationFrames linear 0.67s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.67s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation34{
  animation: animationFrames linear 0.66s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.66s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation35{
  animation: animationFrames linear 0.65s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.65s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation36{
  animation: animationFrames linear 0.64s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.64s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation37{
  animation: animationFrames linear 0.63s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.63s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation38{
  animation: animationFrames linear 0.62s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.62s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation39{
  animation: animationFrames linear 0.61s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.61s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation40{
  animation: animationFrames linear 0.6s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.6s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation41{
  animation: animationFrames linear 0.59s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.59s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation42{
  animation: animationFrames linear 0.58s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.58s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation43{
  animation: animationFrames linear 0.57s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.57s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation44{
  animation: animationFrames linear 0.56s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.56s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation45{
  animation: animationFrames linear 0.55s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.55s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation46{
  animation: animationFrames linear 0.54s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.54s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation47{
  animation: animationFrames linear 0.53s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.53s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation48{
  animation: animationFrames linear 0.52s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.52s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation49{
  animation: animationFrames linear 0.51s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.51s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}
.knife-animation50{
  animation: animationFrames linear 0.5s;
  animation-iteration-count: 1;
 transform-origin: 0 100%;
  -webkit-animation: animationFrames linear 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 100%;

 animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;   
}

.stop{

 -webkit-animation-play-state: paused;
 animation-play-state: paused;

}
@keyframes animationFrames{
  0% {
  }
  100% {
    -webkit-transform: rotate(30deg) translate(60px,140px);
  }
}


@-webkit-keyframes animationFrames {
  0% {

  }
  100% {
    -webkit-transform: rotate(30deg) translate(60px,140px);
  }
}

